{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block content %}
    <h1>Users</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Fullname</th>
                <th>Is Active</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.fullname }}</td>
                <td>{{ user.state ? '<span class="badge badge-success">Yes</span>' : 'No' }}</td>
                <td><small>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i') : '' }}</small></td>
                <td><small>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i') : '' }}</small></td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if users.haveToPaginate %}
        <div class="navigation text-center">
            {{ pagerfanta(users, 'twitter_bootstrap4_translated', {routeName: 'user_index_paginated', routeParams: app.request.query.all}) }}
        </div>
    {% endif %}
{% endblock %}